{% extends "sysadmin/base.html" %}
{% load i18n %}
{% block cur_revisers %}tab-cur{% endblock %}

{% block left_panel %}{{block.super}}
<form action="{% url 'sys_reviser_admin_ignore' %}" method="get" class="side-search-form">
    <input type="text" name="filter" class="input" value="" placeholder="{% trans "Search department or user..." %}" />
</form>
{% endblock %}

{% block right_panel %}
<div class="tabnav ovhd">
    <ul class="tabnav-tabs fleft">
        <li class="tabnav-tab"><a href="{% url 'sys_reviser_admin' %}">{% trans "Department" %}</a></li>
        <li class="tabnav-tab"><a href="{% url 'sys_reviser_admin_user_map' %}">{% trans "User" %}</a></li>
        <li class="tabnav-tab tabnav-tab-cur"><a href="{% url 'sys_reviser_admin_ignore' %}">{% trans "Ignore List" %}</a></li>
    </ul>
    <div class="fright">
        <button id="add-reviser-btn"><img src="{{ MEDIA_URL }}img/add.png" alt="" class="add vam" /><span class="vam">{% trans "Add" %}</span></button>
    </div>
    
</div>


<form id="add-reviser-form" action="" method="post" class="hide">{% csrf_token %}
    <label for="email">{% trans "User" %}</label><br />
    <input type="text" name="email" id="email" placeholder="{% trans "email" %}" class="input" /><br />

    <p class="error hide"></p>
    <button type="submit" class="submit">{% trans "Submit" %}</button>
</form>

{% if ignores %}
<table>
    <tr>
        <th width="80%">{% trans "Email" %}</th>
        <th width="20%"><!--operation--></th>
    </tr>
    {% for r in ignores %}
    <tr>
        <td>{{ r.username }}</td>
        <td>
          <a href="{% url 'verify_ignore_remove' r.id %}" class="remove op vh">{% trans "Delete" %}</a>
        </td>
    </tr>
    {% endfor %}
</table>
{% else %}
<div class="empty-tips">
    <h2 class="alc">{% trans "No users has been added yet, users in this list will not be verified when generate shared files." %}</h2>
</div>
{% endif %}

{% endblock %}

{% block extra_script %}
<script type="text/javascript">
$('#add-reviser-form').submit(function() {
    var form = $(this),
        form_id = $(this).attr('id'),
        submit_btn = $(this).find('[type="submit"]'),

        user_email = $.trim(form.children('[name="email"]').val());

    function validateEmail(email) {
        var re = /^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/i;
        return re.test(email);
    }

    if (!user_email) {
        apply_form_error(form_id, "{% trans "Email cannot be blank" %}");
        return false;
    }

    var data = {
        'user_email': user_email
    };

    disable(submit_btn);

    $.ajax({
        url: '{% url 'verify_ignore_add' %}',
        type: 'POST',
        datatype: 'json',
        cache: 'false',
        beforeSend: prepareCSRFToken,
        data: data,
        success: function() {
            location.reload(true);
        },
        error: function(jqXHR, textStatus, errorThrown) {
            if (jqXHR.responseText) {
                apply_form_error(form_id, $.parseJSON(jqXHR.responseText).error);
            } else {
                apply_form_error(form_id, "{% trans "Failed. Please check the network." %}");
            }
            enable(submit_btn);
        }
    });
    return false;
});

$('#add-reviser-btn').click(function() {
        $('#add-reviser-form').modal();
        $('#simplemodal-container').css({'width':'auto'});
});

$('.edit').click(function() {
    $('#edit-reviser-form').modal();
    $('#simplemodal-container').css({'width':'auto'});
});
</script>
{% endblock %}
